<div class="control-group col-md-6">
  <h2>Register</h2>

  <form class="">
    <label for="userName"><b>Username </b></label>
    <input class="form-control" type="text" placeholder="Enter Username" name="userName" required><br />
    <label for="userName"><b>Email </b></label>
    <input class="form-control" type="text" placeholder="Enter Email" name="email" required><br />
    <label for="pass"><b>Password </b></label>
    <input class="form-control" type="password" placeholder="Enter Password" name="pass" required><br />
    <label for="userName"><b>Creat At </b></label>
    <input class="form-control" type="text" placeholder="Enter create_at" name="createAt" required><br />
    <button class="btn btn-success" type="submit">Login</button>

  </form>
</div>
